body{ margin: 0px; padding:0px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
header{ background-color: red; color:#fff; padding: 10px; text-align: center;}

.row { margin-right: -15px; margin-left: -15px;}
.w-50{ width: 50%; float: left;}
.container{ width: 80%; margin: 20px auto; }
input{display: block; width: 100%;
    height: 34px;padding: 6px 12px;
    font-size: 14px; line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}
li{ padding: 10px 20px; list-style: none; }
li:nth-child(even){background: #CCC; }

button{ text-align: center; border: 1px solid transparent;padding: 6px 12px;font-size: 14px; line-height: 1.42857143; border-radius: 4px; color: #fff;}

#alert{ display: none; width: 100%; color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; text-align: center; padding: 20px 0px;}
.edit{ background-color: #f0ad4e;border-color: #eea236;}
.submit{ background-color: green;border-color:green; display: block; }
.delete{ color: #fff; background-color: #d9534f;border-color: #d43f3a;}